section.about
    .about__content
        .about__avatar-box
            img(src="images/avatar.jpg")

        .about__text
            h4 Hello! I'm Daniel, 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, varius a laoreet vitae, mattis at metus. Suspendisse felis nibh, ornare vitae vehicula quis, rhoncus vel orci. Mauris placerat tincidunt placerat. 

            .about__info-box
                .about__info-item
                    p Age:
                        span  21
                
                .about__info-item
                    p Phone:
                        span  (+48) 666 616 882
                
                .about__info-item
                    p Country:
                        span  Poland

                .about__info-item
                    p E-Mail:
                        span  daniel.wyskup@gmail.com

                .about__info-item
                    p City:
                        span  Bolesławiec

                .about__info-item
                    p Github:
                        a(href="")  Click Me!