section.about
    .about__content
        .about__avatar-box
            img(src="images/avatar.jpg")

        .about__text
            h4 Hello! I'm Daniel, 
            p begginer frontend dev from Bolesławiec. Why frontend? In my secondary school, I was a Tech Leader in 
                a.link--projects-other esport league, 
                | Where I've also written my first website. And that's how it started...

            .about__info-box
                .about__info-item
                    p Age:
                        span  21
                
                .about__info-item
                    p Country:
                        span  Poland

                .about__info-item
                    p City:
                        span  Bolesławiec

                .about__info-item
                    p E-Mail:
                        span  daniel.wyskup@gmail.com

                .about__info-item
                    p Github:
                        a(href="https://github.com/Xikser" target="_blank")  Click Me!