section.about
    .about__content
        .about__avatar-box
            img(src="images/avatar.jpg")

        .about__text
            h4 Hello! I'm Daniel, 
            p beginner web developer from Bolesławiec. I have little commercial experience but a huge will to learn and experience the world. In the future, I want to aspire to become a full stack js/python developer.

            .about__info-box
                .about__info-item
                    p Age:
                        span  21
                
                .about__info-item
                    p Phone:
                        span  (+48) 666 616 882
                
                .about__info-item
                    p Country:
                        span  Poland

                .about__info-item
                    p E-Mail:
                        span  daniel.wyskup@gmail.com

                .about__info-item
                    p City:
                        span  Bolesławiec

                .about__info-item
                    p Github:
                        a(href="")  Click Me!