section.contact
    h3.section__title Contact

    .contact__content
        .contact__box
            p Click to copy!
            i.fas.fa-envelope
            input.contact__clipboard(type='text' value="daniel.wyskup@gmail.com")