section.contact
    h3.section__title Contact

    .contact__content
        .contact__box
            p Click to copy!
            i.fas.fa-envelope
            input.contact__clipboard(value="daniel.wyskup@gmail.com")
        .contact__box
            p Click to copy!
            i.fas.fa-phone
            input.contact__clipboard(value="666 616 882")