header.header
    include navbar

    .header__content
        .header__titles-box
            h1 
                span < 
                | hello world! 
                span />

            h2 I'm
            h3 Junior Frontend Developer

    .scroll-anim
        .scroll
            .dot