doctype
html(lang="en")
    head
        title hello world!
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="assets/css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
        meta(http-equiv="X-Ua-Compatible" content="IE=edge,chrome=1")

    body
        .mouse-follower
        main.container       
            include header
            include site-map

            section.content
                include about
                include skills
                include portfolio
                include other
                include contact

                include panel/panel

        footer.footer
            p Copyright 2020 | Daniel Wyskup

        script(src="assets/js/app.js")   
        script(src="assets/js/mouseFollower.js")
        script(src="assets/js/progressBar.js")
        script(src="assets/js/projectViewer.js")
        script(src="assets/js/panel.js")