nav.nav
    .nav__logo
        a(href="") Daniel Wyskup

    ul.nav__list
        li.nav__item
            a.nav__link(href="") Home
        li.nav__item
            a.nav__link(href="") About
        li.nav__item
            a.nav__link(href="") Projects
        li.nav__item
            a.nav__link(href="") Kontakt