nav.nav
    .nav__logo
        a() Daniel Wyskup

    ul.nav__list
        li.nav__item
            a.nav__link.link--home Home
        li.nav__item
            a.nav__link.link--about About
        li.nav__item
            a.nav__link.link--projects Projects
        li.nav__item
            a.nav__link.link--contact Contact

.mobile-nav
    .mobile-nav__icons
        i.fas.fa-bars.mobile-icons--bar
        i.fas.fa-times.mobile-icons--times

    ul.mobile-nav__list
        li.mobile-nav__item
            a.mobile-nav__link.link--home Home
        li.mobile-nav__item
            a.mobile-nav__link.link--about About
        li.mobile-nav__item
            a.mobile-nav__link.link--projects Projects
        li.mobile-nav__item
            a.mobile-nav__link.link--contact Contact