section.portfolio.portfolio--other
    h3.section__title Other projects
    .portfolio__content
        .portfolio__box
            img.project--image(src="images/league.jpg" alt="league image")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png" alt="pug logo")
                img.tech--logo(src="images/logos/sass.png" alt="sass logo")
                img.tech--logo(src="images/logos/js.png" alt="js logo")
                img.tech--logo(src="images/logos/php.png" alt="php logo")
                img.tech--logo(src="images/logos/mysql.png" alt="mysql logo")
                img.tech--logo(src="images/logos/lua.png" alt="lua logo")
                img.tech--logo(src="images/logos/linux.png" alt="linux logo")
                img.tech--logo(src="images/logos/shell.png" alt="shell logo")

            .viewer
                .viewer__content
                    .viewer__image-box.viewer__image-box--width.viewer__image-box--margin-reset
                        img(src="images/logos/ligalogo.png" alt="league logo")

                    h3.viewer__title ZSE E-sport League

                    .mobile-scroll-anim
                        .mobile-scroll
                            i.fas.fa-hand-pointer

                    .viewer__scroll-container
                        .viewer__scroll-content
                            p.viewer__text ZSE E-Sport League was a small school project that has grown to a national scale cs:go tournament, entirely prepared, run and managed by students. My first task was to create a website with team registration in PHP (never again). It was my first website, so it had been coded terribly, but it worked :D
                            p.viewer__text I was also responsible for cs:go servers, voice servers, technical aspect of streaming during the LAN finals, and I also managed a group of 5 administrators, that I had to train in server maintenance beforehand.
                            p.viewer__text Several of my friends, whom I trained to handle cs:go servers and conducting matches, worked / work in ESL as a game administrator after the end of the project.

                        .viewer__buttons.viewer__buttons--position-reset
                            a.button.button--viewer(href="https://istotne.pl/boleslawiec/wiadomosc/nSc/lepiej-by-dziecko-gralo-w-lidze-e-sport-niz-bawilo-sie-na-trzepaku" target="_blank") Interview
                            a.button.button--viewer(href="projects/league" target="_blank") Website preview
                            a.button.button--viewer(href="https://www.youtube.com/channel/UCm2jWq-OA-fUquxFYoEMRww" target="_blank") Youtube

                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/mc.png" alt="mc image")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/skript.png" alt="skript logo")
                img.tech--logo(src="images/logos/yaml.png" alt="yaml logo")
                img.tech--logo(src="images/logos/linux.png" alt=" linux logo")
                img.tech--logo(src="images/logos/mysql.png" alt="mysql logo")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/mc.png" alt="mc image")

                    h3.viewer__title Minecraft Server

                    p.viewer__text I have been creating Minecraft servers since 2015. I've learned basics of bukkit server and Skript language in which I written dozens of scripts.
 
                i.fas.fa-times