section.portfolio
    h3.section__title Other projects
    .portfolio__content
        .portfolio__box
            img.project--image(src="images/league.jpg")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/html.png")
                img.tech--logo(src="images/logos/css.png")
                img.tech--logo(src="images/logos/js.png")
                img.tech--logo(src="images/logos/php.png")
                img.tech--logo(src="images/logos/mysql.png")
                img.tech--logo(src="images/logos/lua.png")
                img.tech--logo(src="images/logos/linux.png")
                img.tech--logo(src="images/logos/shell.png")

            .viewer
                .viewer__content

                    .viewer__image-box.viewer__image-box--width
                        img(src="images/logos/ligalogo.png")

                    h3.viewer__title ZSE E-sport League

                    p.viewer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis neque ipsum, sit amet ultrices massa laoreet et. Ut molestie est lectus, suscipit interdum erat congue at.

                    .viewer__buttons
                        a.button.button--viewer(href="https://istotne.pl/boleslawiec/wiadomosc/nSc/lepiej-by-dziecko-gralo-w-lidze-e-sport-niz-bawilo-sie-na-trzepaku" target="_blank") Interview
                        a.button.button--viewer(href="https://www.youtube.com/channel/UCm2jWq-OA-fUquxFYoEMRww" target="_blank") Youtube

        .portfolio__box
            img.project--image(src="images/mc.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/skript.png")
                img.tech--logo(src="images/logos/yaml.png")
                img.tech--logo(src="images/logos/linux.png")
                img.tech--logo(src="images/logos/mysql.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/mc.png")

                    h3.viewer__title Minecraft Server

                    p.viewer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis neque ipsum, sit amet ultrices massa laoreet et. Ut molestie est lectus, suscipit interdum erat congue at.