section.portfolio
    h3.section__title Other projects
    .portfolio__content
        .portfolio__box
            img.project--image(src="images/league.jpg")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/html.png")
                img.tech--logo(src="images/logos/css.png")
                img.tech--logo(src="images/logos/js.png")
                img.tech--logo(src="images/logos/php.png")
                img.tech--logo(src="images/logos/mysql.png")
                img.tech--logo(src="images/logos/lua.png")
                img.tech--logo(src="images/logos/linux.png")
                img.tech--logo(src="images/logos/shell.png")

            .viewer
                .viewer__content

                    .viewer__image-box.viewer__image-box--width
                        img(src="images/logos/ligalogo.png")

                    h3.viewer__title ZSE E-sport League

                    p.viewer__text A small school project that has grown on a national scale. 100% run and prepared by students. For the purposes of the project, I wrote the first website in my life with full team registration in PHP. I had 3 weeks to complete the entire website. The code of the website is tragic, but it works :D

                    p.viewer__text In the league, I was responsible for the entire technical side, from the website, through voice servers, to game servers on which matches were played. 
                    
                    | I managed a group of 5 technicians and admins. I assigned them tasks and was responsible for running the cs: go games.

                    p.viewer__text I was responsible for voice servers, game servers, and technical gameplay streaming During the LAN finals

                    p.viewer__text My friends, whom I trained in handling cs: go servers and conducting matches, worked / work in ESL as a game administrator after the end of the project.

                    .viewer__buttons
                        a.button.button--viewer(href="https://istotne.pl/boleslawiec/wiadomosc/nSc/lepiej-by-dziecko-gralo-w-lidze-e-sport-niz-bawilo-sie-na-trzepaku" target="_blank") Interview
                        a.button.button--viewer(href="projects/liga" target="_blank") Website preview
                        a.button.button--viewer(href="https://www.youtube.com/channel/UCm2jWq-OA-fUquxFYoEMRww" target="_blank") Youtube

                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/mc.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/skript.png")
                img.tech--logo(src="images/logos/yaml.png")
                img.tech--logo(src="images/logos/linux.png")
                img.tech--logo(src="images/logos/mysql.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/mc.png")

                    h3.viewer__title Minecraft Server

                    p.viewer__text Since 2015, I have been creating servers for Minecraft. Several of them have achieved success. The number of people playing at the same time was often over 100. Currently, I have been "retired" Minecraft for about 2 years.

                i.fas.fa-times