section.portfolio
    h3.section__title Portfolio
    .portfolio__content
        .portfolio__box
            img.project--image(src="images/projects/login1.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png")
                img.tech--logo(src="images/logos/sass.png")
                img.tech--logo(src="images/logos/js.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/projects/login1.png")

                    h3.viewer__title Login panel

                    p.viewer__text A simple minimal style login panel/register panel.

                    .viewer__buttons
                        a.button.button--viewer(href="projects/login1" target="_blank") Live
                
                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/projects/login2.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png")
                img.tech--logo(src="images/logos/sass.png")
                img.tech--logo(src="images/logos/js.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/projects/login2.png")

                    h3.viewer__title Login panel

                    p.viewer__text A simple luxury style login/register panel.

                    .viewer__buttons
                        a.button.button--viewer(href="projects/login2" target="_blank") Live

                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/projects/pt.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png")
                img.tech--logo(src="images/logos/sass.png")
                img.tech--logo(src="images/logos/js.png")
                img.tech--logo(src="images/logos/rwd.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/projects/pt.png")

                    h3.viewer__title Minecraft server website

                    p.viewer__text A simple onepage website for minecraft server network.

                    .viewer__buttons
                        a.button.button--viewer(href="projects/playtale" target="_blank") Live

                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/projects/extemo.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png")
                img.tech--logo(src="images/logos/sass.png")
                img.tech--logo(src="images/logos/js.png")
                img.tech--logo(src="images/logos/rwd.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/projects/extemo.png")

                    h3.viewer__title One page template

                    p.viewer__text One page template. 
                    p.viewer__text Project was created to test my sass and js skills. I also used for the first time BEM methodology.

                    .viewer__buttons
                        a.button.button--viewer(href="projects/extemo" target="_blank") Live
                        a.button.button--viewer(href="https://github.com/Xikser/extemo" target="_blank") Github

                i.fas.fa-times

        .portfolio__box
            img.project--image(src="images/projects/portfolio.png")

            .portfolio__button-box
                button.button.button--portfolio-info More Info

            .portfolio__logos-box
                img.tech--logo(src="images/logos/pug.png")
                img.tech--logo(src="images/logos/sass.png")
                img.tech--logo(src="images/logos/js.png")
                img.tech--logo(src="images/logos/rwd.png")

            .viewer
                .viewer__content

                    .viewer__image-box
                        img(src="images/projects/portfolio.png")

                    h3.viewer__title My portfolio website

                    p(style="font-size: 1.5rem; padding-top: 40px").viewer__text Made with  
                        i(style="color: purple; font-size: 2rem").fas.fa-heart

                    .viewer__buttons
                        a.button.button--viewer(href="https://github.com/Xikser/portfolio" target="_blank") Github

                i.fas.fa-times
