section.portfolio
    h3.section__title Portfolio
    .portfolio__content
        .portfolio__box
            a
                img(src="images/liga.jpg")
                span Esport league

        .portfolio__box
            a
                img(src="images/mc.png")
                span Minecraft Servers

        .portfolio__box
            a
                img(src="images/dev.jpg")
                span Web developer

        .portfolio__box
            a
                img(src="images/gd.jpg")
                span Graphic Designer