section.map
        ul.map__list
            li.map__item
                a.map__link.link--home
                    i.fas.fa-home.fw

                .map__box
                    span Home
            li.map__item
                a.map__link.link--about
                    i.fas.fa-user.fw

                .map__box
                    span About
            li.map__item
                a.map__link.link--skills
                    i.fas.fa-layer-group.fw

                .map__box
                    span Skills
            li.map__item
                a.map__link.link--projects
                    i.fas.fa-tasks.fw

                .map__box
                    span Projects
            li.map__item
                a.map__link.link--contact
                    i.fas.fa-envelope.fw

                .map__box
                    span Contact