section.map
        ul.map__list
            li.map__item
                i.fas.fa-home.fw
                a.map__link

                .map__box
                    span Home
            li.map__item
                i.fas.fa-user.fw
                a.map__link

                .map__box
                    span About
            li.map__item
                i.fas.fa-layer-group.fw
                a.map__link

                .map__box
                    span Experience
            li.map__item
                i.fas.fa-tasks.fw
                a.map__link

                .map__box
                    span Projects
            li.map__item
                i.fas.fa-envelope.fw
                a.map__link

                .map__box
                    span Contact