section.skills
    h3.section__title Skills

    .skills__header
        .skills__beginner
            span Beginner
        .skills__experienced
            span Experienced
        .skills__advanced
            span Advanced
        .skills__master
            span Master

    .skills__content
        .skills__box
            span.skills__text HTML
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Pug
            span.skills__level(level="47")
            .bar
                .bar--hover
        .skills__box
            span.skills__text CSS
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Sass / Scss
            span.skills__level(level="65")
            .bar
                .bar--hover
        .skills__box
            span.skills__text RWD
            span.skills__level(level="40")
            .bar
                .bar--hover
        .skills__box
            span.skills__text JavaScript
            span.skills__level(level="45")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Linux / Ubuntu
            span.skills__level(level="50")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Gimp
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Visual Studio Code
            span.skills__level(level="55")
            .bar
                .bar--hover
        .skills__box 
            span.skills__text WebStorm
            span.skills__level(level="45")
            .bar
                .bar--hover
        .skills__box 
            span.skills__text Git
            span.skills__level(level="10")
            .bar
                .bar--hover

