section.skills
    h3.section__title Skills

    .skills__header
        .skills__basic
            span Basic
        .skills__intermediate
            span Intermediate
        .skills__proficient
            span Proficient

    .skills__content
        .skills__box
            span.skills__text HTML
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Pug
            span.skills__level(level="40")
            .bar
                .bar--hover
        .skills__box
            span.skills__text CSS
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Sass / Scss
            span.skills__level(level="60")
            .bar
                .bar--hover
        .skills__box
            span.skills__text RWD
            span.skills__level(level="50")
            .bar
                .bar--hover
        .skills__box
            span.skills__text JavaScript
            span.skills__level(level="30")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Linux
            span.skills__level(level="12")
            .bar
                .bar--hover
        .skills__box
            span.skills__text Gimp
            span.skills__level(level="95")
            .bar
                .bar--hover
        .skills__box 
            span.skills__text Git
            span.skills__level(level="10")
            .bar
                .bar--hover

