.experience
    // min-height: 100vh
    padding: 50px

    &__content
        width: 100%
        padding: 100px 0 0 0

.timeline
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    &__box
        position: relative
        height: 120px
        width: 300px
        display: flex
        align-items: center
        justify-content: center
        background: rgba(255, 255, 255, .075)
        border-radius: $border-radius
        transform: scale(1)
        transition: all .3s ease

        font:
            size: 1.25rem

        &:hover
            transform: scale(1.02)
            background: rgba(255, 255, 255, .1)

        a
            cursor: pointer

    &__box-content
        display: none

        &--is-active