.portfolio
    padding: 50px
    
    &__content
        padding-top: 25px
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap

    &__box
        position: relative
        max-width: 450px
        min-width: 450px
        min-height: 255px
        max-height: 255px
        transition: all .5s ease
        text-align: center
        margin: 25px 30px

        &:hover img
            bottom: 50px

        &:hover .portfolio__button-box
            bottom: 0

        span
            position: absolute
            width: 100%
            top: 50%
            left: 50%
            opacity: .8
            transform: translate(-50%, -50%)
            transition: all .3s ease
            text-shadow: 2px 2px 2px black
            z-index: 6
            cursor: default

            font:
                size: 1.5rem

        img
            position: relative
            transition: all .5s ease
            width: 100%
            height: 100%
            bottom: 0
            z-index: 5

    &__button-box
        position: absolute
        width: 100%
        height: 50px
        padding: 0 15px
        transition: all .5s ease
        // background: red
        left: 0
        bottom: 0
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        z-index: 1