/* 

Wszelkie prawa zastrzeżone Ligazse 2016-2018.
Kopiowanie wszelkich elementów ze strony zabronione bez zgody: ligazse.pl
Wykonanie: Daniel "Sensej" Wyskup na rzecz szkolnej ligi e-sportowej.
 
*/

/* 		VIDEO		 */

@media screen and (max-width: 980px) {
	
	#movie {
		display: none;
	}
	
	.player {
		display: none;
	}
}

@media screen and (max-width: 736px) {
	
	#movie {
		display: none;
	}
	
	.player {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	
	#movie {
		display: none;
	}
	
	.player {
		display: none;
	}
}

@media screen and (max-width: 360px) {
	
	#movie {
		display: none;
	}
	
	.player {
		display: none;
	}
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */


@media screen and (max-width: 1680px) {
	
#duzelogo {
	left: 0%;
}
	
#glowna {
	left: 30%;
}
	
.buttony {
	top: 85%;
	left: 30%;
}
	
#onas {
	height: auto;
}
	
} /* Ostatni nawias max-width: 1680px */

/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */

@media screen and (max-width: 1280px) {
	
#nawigacja {
	top: 20px;
	left: 2%;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.01);
	margin: 0;
	margin-left: 0 !important;
}

	#nawigacja > ul {
		display: inline-block;
		border-radius: 0.35em;
		padding: 0 1.5em 0 1.5em;
	}

	#nawigacja > ul > li {
		display: inline-block;
		text-align: center;
		padding: 0 1.5em 0 1.5em;
	}


/* 			Małe logo			 */

#pudelko {
	top: 0;
	left: 0px !important;
	right: 0;
	bottom: 0;
	float: left;
	width: auto;
	height: auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1rem;
	margin-left: 0px;
	perspective: 300px;
	-webkit-perspective: 300px;
}

#pudelko:hover > #karta {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#karta {
	position: relative;
	float: left;
	width: auto;
	height: auto;
	left: 0 !important;
	text-align: left;
	transition: 1s;
	-webkit-transition: 1s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

#malelogo {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0 !important;
	width: 120px;
	height: 100px;
	background: url('../../images/logo.png') no-repeat;
	background-size: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

/* 		Koniec Małe logo		 */	

#duzelogo {
	left: 0%;
}

#glowna {
	left: 25%;
}
	
.buttony {
	left: 25%;
}

#onas {
	height: auto;
	padding: 100 150px;
}

.przycisk1 {
	margin: auto;
	padding: auto;
}

#gry {
	height: auto;
}

#grylogo {
	left: 0;
	margin-top: 100px;
	padding: 0;
}

#socialmedia {
	height: auto;
}

#media {
	left: 0;
	width: 20%;
	margin: 0;
	padding: 0;
}

.tekst {
	
}

} /* Ostatni nawias	 max-width: 1280px */


/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */

@media screen and (max-width: 980px) {
	
#nawigacja {
		top: 10px;
		left: 0;
		width: 100%;
		height: auto;
		background-color: rgba(0, 0, 0, 0.01);
		margin: 0;		
		font-size: 1em;
	}
	
	#nawigacja > ul {
		display: inline-block;
		margin: 0;
		margin-top: 25px;
		margin-left: 25%;
		float: left;
		padding: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 80px;
		text-align: center;
	}

	#nawigacja > ul > li {
		padding: 0 1em 0 1em;
	}


/* 			Małe logo			 */

#pudelko {
	top: 0;
	left: 0px !important;
	right: 0;
	bottom: 0;
	float: left;
	width: auto;
	height: auto;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1rem;
	margin-left: 0px;
	perspective: 300px;
	-webkit-perspective: 300px;
}

#pudelko:hover > #karta {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#karta {
	position: relative;
	float: left;
	width: auto;
	height: auto;
	left: 30px !important;
	text-align: left;
	transition: 1s;
	-webkit-transition: 1s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

#malelogo {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0 !important;
	width: 100px;
	height: 100px;
	background: url('../../images/logo.png') no-repeat;
	background-size: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

/* 		Koniec Małe logo		 */	

#duzelogo {
	top: 25%;
	left: 35%;
}
	
#duzelogo img {
	/* width: 25%; */
	/* height: 40%; */
	display: block;
}
	
#glowna {
	left: 20%;
}
	
.buttony {
	top: 82%;
	left: 20%;
}

} /* Ostatni nawias	 max-width: 980px */
	
	
/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */


@media screen and (max-width: 768px) {
	
#duzelogo {
	top: 18%;
	left: 30%;
}
	
#duzelogo img {
	/* width: 25%; */
	/* height: 40%; */
	display: block;
}
	
#glowna {
	left: 15%;
}
	
.buttony {
	top: 86%;
	left: 15%;
}
	
} /* OSTATNI NAWIAS DLA max-width: 768px  */


/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */


@media screen and (max-width: 736px) {

#nawigacja {
		top: -100px;
		left: 20%;
		width: 100%;
		height: auto;
		background-color: rgba(0, 0, 0, 0.01);
		margin-bottom: 80px;
		text-align: justify;
	}
	
	#nawigacja > ul {
		display: inline-block;
		margin: 0;
		margin-top: 100px;
		float: left;
		padding: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
	}

	#nawigacja > ul > li {
		padding: 0 .5em 0 0.5em;
	}
	
#pudelko {
	display: none;
}
	
#duzelogo img{		
	display: none;
}

#glowna {
	top: 30%;
	left: 0;
	width: 100%;
}
	
.buttony {
	top: 75%;
	left: 10%;
}
	
} /* Ostatni nawias	 max-width: 736px */


/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */


@media screen and (max-width: 480px) {
	
	#nawigacja {
		top: -80px;
		left: 0;
		width: 100%;
		height: auto;
		background-color: rgba(0, 0, 0, 0.01);
	}
	
	#nawigacja > ul {
		display: inline-block;
		margin: 0;
		margin-top: 100px;
		float: left;
		padding: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
	}

	#nawigacja > ul > li {
		display: inline-block;
		text-align: center;
		padding: 0 0.5em 0 0.5em;
	}


#pudelko {
	display: none;
}


#duzelogo {
	top: 5%;
	left: 20%;
}
	
#duzelogo img{
	/* width: 65%; */
	/* height: 30%; */
	display: none;
}

#glowna {
	top: 30%;
	left: 0;
	width: 100%;
}
	
.buttony {
	top: 50%;
	left: 0;
}

.button1 {
	width: 100%;
	margin-bottom: 25%;
}

.button1 img {
	display: none;
}

.button2 {
	width: 100%;
	border-top: 1px solid #11597f;
	border-bottom: 1px solid #11597f;
	padding-bottom: 25%;
}

.button2 img {
	display: none;
}

} /* Ostatni nawias	 max-width: 480px */ 

/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */

@media screen and (max-width: 360px) {

#pudelko {
	display: none;
}
	
#duzelogo img{
	display: none;
}

#glowna {
	top: 30%;
	left: 0;
	width: 100%;
}
	
.buttony {
	top: 60%;
	left: 0;
}

.button1 {
	width: 100%;
	margin-bottom: 25%;
}

.button1 img {
	display: none;
}

.button2 {
	width: 100%;
	border-top: 1px solid #11597f;
	border-bottom: 1px solid #11597f;
	padding-bottom: 25%;
}

.button2 img {
	display: none;
}
	
} /* Ostatni nawias	 max-width: 360px */ 


/* Przerwa */
/* Przerwa */
/* Przerwa */
/* Przerwa */

