/* RIGHT NAV */

/* NAWIGACJA PO PRAWEJ STRONIE WITRYNY  */

/* ZAPISANY CSS BY NIE PISAĆ NA NOWO DRUGI RAZ */

/* NIE PODPINAĆ TEGO DO STRONY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* NIE PODPINAĆ TEGO DO STRONY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* NIE PODPINAĆ TEGO DO STRONY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* NIE PODPINAĆ TEGO DO STRONY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 95%;
    overflow-x: hidden;
    padding-top: 0;
}

.sidenav a {
    padding: 0;
    text-decoration: none;
    font-size: 3em;
    color: #FF0020;
    display: block;
}

.sidenav a:hover {
    color: #11597f;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* TO IDZIE DO HTML */


	<!-- <div class="sidenav"> -->
		<!-- <ul> -->
			<!-- <a href="#tlo">-</a> -->
			<!-- <a href="#onas">-</a> -->
			<!-- <a href="#gry">-</a> -->
			<!-- <a href="#socialmedia">-</a>     -->
			<!-- <a href="#sponsorzy">-</a>    -->
			<!-- <a href="#kontakt">-</a>	 -->
		<!-- </ul> -->
	<!-- </div> -->