.overlap
    i.panel__icon.fas.fa-cog(style="display: block")
    i.panel__icon.fas.fa-times(style="display: none")

section.panel
    .panel__content
        p.panel__text Chose your color
        .row
            .col-1
                .circle.circle--red
                .circle.circle--cyan
                .circle.circle--yellow
                .circle.circle--green
            .col-2
                .circle.circle--purple
                .circle.circle--pink
                .circle.circle--orange
                .circle.circle--blue

        button.button.button--reset-color Reset color

        .rowrgba(255, 255, 255, .7)
            .col-1.toggle
                p.toggle--text Turn 
                p.toggle--text mouse follower
                p.toggle--text On / Off 
                span.toggle--slider