.overlap
    i.panel__icon.fas.fa-cog(style="display: block")
    i.panel__icon.fas.fa-times(style="display: none")

section.panel
    .panel__content
        p Chose your color
        .row
            .col-1
                .circle.circle--red
                .circle.circle--cyan
                .circle.circle--yellow
                .circle.circle--green
            .col-2
                .circle.circle--purple
                .circle.circle--pink
                .circle.circle--orange
                .circle.circle--blue

        button.button.button--reset-color Reset